:root.light {
  --text-0: rgba(0, 0, 0, 87%);
  --text-1: rgba(0, 0, 0, 66%);

  --bg-0: #fff;
  --bg-1: #f2f2f2;
  --bg-2: #fefefe;

  --primary-color: #A69681;
  --hover-color: white;

  // invert colour on hover for consistency 
  .social :hover {
    filter: invert(1)
  }
}
