.primary-color {
  color: var(--primary-color);
}

.draft-label {
  color: var(--hover-color);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--primary-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--hover-color);
  text-shadow: none;
}

::selection {
  background: var(--primary-color);
  color: var(--hover-color);
}

p {
  line-height: 1.5;
}

hr {
  border: 0;
  border-top: 3px solid var(--border-color);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--border-color);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

a {
  border-bottom: 3px solid var(--primary-color);
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: var(--primary-color);
  color: var(--hover-color);
}

a.image-link {
  border-bottom: none;
}

a.image-link:hover {
  background: none;
}

time {
  color: grey;
}

/* Remove post list padding */
@media screen and (max-width: 600px) {
  .list>ul {
    margin: 0;
    padding: 0;
  }
}
