{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html class="dark light">

{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}

        {% include "partials/footer.html" %}
    </div>
</body>

</html>
